# API Configuration
# Clash Royale API Token
# Get this from https://developer.clashroyale.com/
# Change the BASE_URL in crawler.py from royaleAPI clashroyale if you wish
TOKEN=
# Season Boosted Cards; spaces are OK, but commas are required between cards. Example: "valkyrie,berserker,elite barbarians,rune giant"
BOOSTED_CARDS=

# Seed Clan IDs
SEED_CLAN_IDS=PQCVQLYP,9UYYCCJ8,2GLPVJ9